@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@300&display=swap");
.Header-wrapper__bg-image {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      0.87deg,
      rgba(2, 55, 135, 0.9) 0.69%,
      rgba(81, 38, 174, 0.4736) 100.48%,
      rgba(38, 92, 174, 0.0102906) 100.49%,
      rgba(195, 195, 196, 0.00520833) 100.5%,
      #76a6ef 100.51%
    ),
    url("../../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.logo {
  max-height: 32px;
  overflow: hidden;
}

.header-wrapper {
  padding-top: 42px;
  max-width: 1070px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation__list {
  display: flex;
  list-style-type: none;
}

.header-navigation__list a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.header-navigation li:not(:last-child) {
  margin-right: 50px;
}

.header-navigation nav a {
  color: #ffffff;
  font-weight: normal;
}
.header-content {
  max-width: 821px;
  margin: auto 0;
}
.header-content__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
  color: #ffffff;
  margin-bottom: 36px;
}
.header-content__desc {
  font-family: "Nunito";
  padding-right: 20px;
  font-weight: normal;
  font-size: 29px;
  line-height: 40px;
  color: #ffffff;
}
.header-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media only screen and (max-width: 767px) {
  .header-content__title {
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 25px;
  }
  .header-content__desc {
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    z-index: 4;
  }
  .hamburger span {
    height: 4px;
    border-radius: 5px;
    width: 30px;
    margin-bottom: 5px;
    background: #ffc839;
    transition: all 300ms ease-in-out;
  }
  .header-navigation {
    top: 0;
    left: -100%;
    opacity: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    background-color: #003d99;
  }
  .header-navigation--open {
    opacity: 1;
    z-index: 3;
    left: 0;
  }

  .header-navigation__list {
    margin-right: 0;
    flex-direction: column;
  }
  .header-navigation__list li {
    margin-right: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
  }
  .header-navigation__list a {
    color: white;
    margin-bottom: 25px;
  }
  .logo {
    z-index: 4;
  }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50px;
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50px;
  }
  body.modal-open {
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
  .header-content__title {
    font-size: 52px;
    line-height: 69px;
    color: #ffffff;
    margin-bottom: 25px;
  }
  .header-content__desc {
    font-size: 29px;
    line-height: 41px;
    color: #ffffff;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    z-index: 4;
  }
  .hamburger span {
    height: 8px;
    border-radius: 5px;
    width: 58px;
    margin-bottom: 9px;
    background: #ffc839;
    transition: all 300ms ease-in-out;
  }
  .header-navigation {
    top: 0;
    left: -100%;
    opacity: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    background-color: #003d99;
  }
  .header-navigation--open {
    opacity: 1;
    z-index: 3;
    left: 0;
  }

  .header-navigation__list {
    margin-right: 0;
    flex-direction: column;
  }
  .header-navigation__list li {
    margin-right: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
  }
  .header-navigation__list a {
    color: white;
    margin-bottom: 25px;
  }
  .logo {
    z-index: 4;
  }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50px;
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50px;
  }
}
