.Gallery {
  margin-top: 100px;
  margin-bottom: 120px;
}
.gallery-items {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 406px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin-top: 60px;
}
.gallery-images {
  width: 100%;
  height: 100%;
}
.gallery-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .gallery-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-gap: 8px;
    margin-top: 50px;
  }
  .Gallery {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery-items {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 406px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin-top: 60px;
  }
}
